@charset "utf-8";

html,body,div, span,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,
form,fieldset,input,textarea,select,
table,th,td{
	margin:0;
	padding:0;
		font-size:11pt;

}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}

fieldset,img,abbr,acronym{border:0 none;}
ol,ul{list-style:none;}	

table{
	border-collapse:separate;
	border-spacing:0;
	border:0 none;
}
caption,th,td{
	text-align:left;
	font-weight:normal;
}

address,caption,strong, em,cite{
	font-weight: normal;
	font-style:normal;
}
ins{text-decoration:none;}
del{text-decoration:line-through;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

hr{display:none}
